html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}
#jyp {
  font-size: 1000%;
  text-align: center;
  color: rgb(80, 41, 49);
}
img {
  width: 60%;
}
.twice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.images {
  width: 30%;
  border-style: solid;
  border-color: #83615e;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-radius: 2rem;
  background-color: #c7a4a9;
  box-shadow: 1rem 1rem 1rem rgb(85, 61, 61);
}
body {
  background-color: #8b7272;
  font-family: "Italianno", cursive;
}
