html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}
#jyp {
  font-size: 1000%;
  text-align: center;
  color: rgb(80, 41, 49);
  left: -100px;
  animation: 3s slide-left;
}
img {
  width: 60%;
}
.twice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.images {
  width: 30%;
  border-style: solid;
  border-color: #83615e;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-radius: 2rem;
  background-color: #c7a4a9;
  box-shadow: 1rem 1rem 1rem rgb(139, 97, 97);
}
.images:hover {
  background-color: rgb(190, 151, 151);
  box-shadow: 1rem 1rem 1rem rgb(98, 69, 69);
}
#jyp:hover {
  text-decoration: underline;
  color: #83615e;
  font-family: "Scheherazade New", serif;
}
body {
  background-color: #8b7272;
  font-family: "Italianno", cursive;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
